---
install:
- sed -ie "s#travis-4.x.cfg#travis-$PLONE.x.cfg#" travis.cfg
- mkdir -p buildout-cache/downloads
- python bootstrap.py -c travis.cfg
- bin/buildout -c travis.cfg -N -q -t 10
env:
  matrix:
  - PLONE=4.1
  - PLONE=4.2
  - PLONE=4.3
python:
- 2.6
- 2.7
language: python
script: bin/test
matrix:
  exclude:
  - env: PLONE=4.1
    python: 2.7
  - env: PLONE=4.2
    python: 2.6
  - env: PLONE=4.3
    python: 2.6
