[id$="globalnav"] > #nav > li {
	position: static;
	display: inline-block;
	}
#nav > li > .subs {
	visibility:hidden;
	opacity:0;
	background: #ddd;
	float: left;
	position: absolute;
	width: 100%;
	left: 0;
	z-index: 99999;
	}
#nav > li:hover > .subs {
	visibility:visible;
	opacity:1;
	transition-delay:0s;
	}
#nav ol {
	list-style: none;
	}
#nav li ol dt {
	margin: 1em 0;
	background: #205c90;
	color: #fff;
	}
#nav li ol a {
	border: 0;
	padding: 0em;
	min-width: 1em;
	}
#nav li ol p img {
	margin: 1em 1em 1em 0;
	max-width: 100%;
	}
button.navbar-toggle {
	display: none;
	}
#nav > li > a:hover {
    background:#205c90;
	}
#nav dl.portlet {
	font-size: 100%;
	}

@media only screen and (max-width: 767px) {

#nav > li > .subs {
	display: none;
	visibility:inherit;
	opacity:1;
	transition:visibility 0s linear 0.7s,opacity 0.7s linear;
	}
#nav > li:hover > .subs {
	visibility:;
	opacity:1;
	transition-delay:0s;
	}
#nav {
	clear: both;
	display: none;
	}
[id$="globalnav"] {
	min-height: 50px;
	width: 96%;
	left: 2%;
	position: relative;
	}
li.plus > a {
	position: relative;
	}
li.plus > a:after,
li.plus.open > a:after {
	position: absolute;
	right: 2%;
	top: 12px;
	}
li.plus > a:after {
    content: "+";
	}
li.plus.open > a:after {
	content: "-";
	}
.nav_head:before {
	content: "Menu";
	position: relative;
	top: 15px;
	left: 30px;
	}
[id$="globalnav"]>#nav > li {
	display: block;
	}
#nav > li > a {
	width: 95.5%;
	}
#nav > li:hover > .subs {
	visibility: visible;
	}
#nav > li > .subs {
	padding: 0 2%;
	width: 96%;
	position: relative;
	}
button.navbar-toggle {
	display: block;
	cursor: pointer;
	position: relative;
	float: right;
	padding: 3px 10px;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border:1px solid #333;
	border-radius: 4px;
	}
.navbar-toggle:hover,
.navbar-toggle:focus {
	background: #000;
	outline: 0;
	}
.navbar-toggle .icon-bar {
	background-color: #fff;
	}
.navbar-toggle .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	margin: 5px 0;
	}
}

@media only screen and (min-width: 767px) { 

#nav,
#nav li .subs {
	display: block !important;
	}
}