.megamenu-nav .subs {
    display: none;
    background: #ddd;
    position: absolute;
    width: 100%;
    z-index: 99999;
    }
.megamenu-nav li:hover > .subs {
    display: block;        
    }
#portal-megamenu .subs a {
    border: 0;
    padding: 0;
    min-width: 1em;
    }
#portal-megamenu .subs p img {
    margin: 1em 1em 1em 0;
    max-width: 100%;
    }
#portal-megamenu dl.portlet {
    font-size: 100%;
    } 
.megamenu-nav .portletHeader {
    margin: 1em 0;
    background: #205c90;
    color: #fff;
    }

@media only screen and (max-width: 767px) {

#portal-megamenu {
    background: #ddd;
    width: 100%;
    float: left;
    margin: 1em 0;
    }
.megamenu-nav {
    display: none;
    }
#portal-megamenu:before {
    content: "Menu";
    position: relative;
    top: 1em;
    left: 1em;
    }
.megamenu-nav > li > a {
    width: 100%;
    padding: 0.5em 1em;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
.megamenu-nav li:hover > .subs {
    display: none;
    }
.megamenu-nav .subs {
    width: 100%;
    position: relative;
    }
.megamenu-nav .subs .cell {
    width: 100%;
    clear: both;
    margin-left: -100%;
    }
li.plus > a:after,
li.plus.open > a:after {
    position: absolute;
    top: 0.5em;
    right: 1.5em;
    }
li.plus > a:after {
    content: "+";
    }
li.plus.open > a:after {
    content: "-";
    }
#portal-megamenu .navbar-toggle {
    display: block;
    cursor: pointer;
    position: relative;
    float: right;
    padding: 5px 10px;
    margin: 0.5em 1em;
    border: 1px solid #333;
    border-radius: 4px;
    }
#portal-megamenu .navbar-toggle:hover,
#portal-megamenu .navbar-toggle:focus {
    background: #000;
    outline: 0;
    }
#portal-megamenu .navbar-toggle .icon-bar {
    background-color: #fff;
    display: block;
    width: 23px;
    height: 3px;
    margin: 4px 0;
    }
}