#portal-globalnav > li > .subs {
    display: none;
    background: #ddd;
    float: left;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 99999;
    }
#portal-globalnav .selected a:hover,
#portal-globalnav > li > a:hover,
#portal-globalnav > li.open > a {
    background:#205c90;
    color: #fff;
    }
#portal-globalnav .subs .portletHeader {
    margin: 1em 0;
    background: #205c90;
    color: #fff;
    }
#portal-globalnav .subs a {
    border: 0;
    padding: 0em;
    min-width: 1em;
    }
#portal-globalnav .subs p img {
    margin: 1em 1em 1em 0;
    max-width: 100%;
    }
button.navbar-toggle {
    display: none;
    }
#portal-globalnav dl.portlet {
    font-size: 100%;
    }

@media only screen and (max-width: 767px) {
.megamenu {
    float: left;
    margin-bottom: 1em;
    width: 100%;
    }
.megamenu > #portal-globalnav > li {
    display: block;
    }
#portal-globalnav {
    clear: both;
    display: none;
    }
#portal-globalnav > li > .subs {
    display: none;
    width: 100%;
    position: relative;
    }
#portal-globalnav .subs .cell {
    width: 100%;
    clear: both;
    margin-left: -100%;
    }
.nav-head:before {
    content: "Menu";
    position: relative;
    top: 0.5em;
    left: 1em;
    }
#portal-globalnav > li > a {
    border-right: 0;
	width: 100%;
    padding: 0.5em 1em;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
li.plus > a:after,
li.plus.open > a:after {
    position: absolute;
    top: 0.5em;
    right: 1.5em;
    }
li.plus > a:after {
    content: "+";
    }
li.plus.open > a:after {
    content: "-";
    }
.megamenu .navbar-toggle {
    background-color: #ddd;
    border: 0;
    cursor: pointer;
    display: block;
    padding: 0.6em 0;
    width: 100%;
    outline: 0;
    }
.megamenu.open .navbar-toggle,
.megamenu .navbar-toggle:hover {
    background-color: #205c90;
    }
.megamenu .navbar-toggle .icon-bar {
    background-color: #205c90;
    display: block;
    height: 3px;
    margin: 4px auto;
    width: 23px;
    }
.megamenu.open .navbar-toggle .icon-bar,
.megamenu .navbar-toggle:hover .icon-bar {
    background-color: #fff;
    }

}

@media only screen and (min-width: 767px) {

#portal-globalnav > li > .subs {
    display: none !important;
    }
#portal-globalnav > li:hover > .subs {
    display: block !important;
    transition-delay:0s;
    }
}
